@{
    ViewBag.Title = "Phiếu Trả";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .container-fluid {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .row.flex-grow-4 {
        flex: 4; /* Tỷ lệ phần trên */
    }

    .row.flex-grow-7 {
        flex: 7; /* Tỷ lệ phần dưới */
    }

    .table-responsive {
        max-height: 300px; /* Giới hạn chiều cao bảng để tránh bị kéo dài quá mức */
        overflow-y: auto; /* Thêm thanh cuộn nếu bảng dài */
    }

</style>
<!-- Hiển thị danh sách NhanViens -->
<section class="content">
    <div class="container-fluid pt-4">
        <div class="container-fluid" style="height: 100vh; display: flex; flex-direction: column;">
            <!-- Phần trên (chiều cao 4 phần) -->
            <div class="row flex-grow-3" id="phanTren" style="overflow-y: auto;">
                <div class="col-12">
                    <div class="card" style="height: 100%;">
                        <div class="card-header">
                            <h4 class="text-center text-blue text-bold">T.T Phiếu mượn</h4>
                        </div>
                        <div class="card-body table-responsive p-0" id="thongTinPhieuMuonTable">
                            <table id="tablephieuMuon" class="table table-head-fixed table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Mã PM</th>
                                        <th>Mã thẻ</th>
                                        <th>Họ tên DG</th>
                                        <th>SĐT</th>
                                        <th>Ngày mượn</th>
                                        <th>Hạn trả</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Phần dưới (chiều cao 7 phần) -->
            <div class="row flex-grow-7" id="phanDuoi" style="overflow-y: auto;">
                <div class="col-12">
                    <div class="card" style="height: 100%;">
                        <div class="card-header">
                            <h4 class="text-center text-blue text-bold">Phiếu trả</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="selectedMaNhanVien">Mã nhân viên:</label>
                                        <input type="text" class="form-control" id="selectedMaNhanVien" readonly>
                                    </div>
                                    <div class="form-group col">
                                        <label for="selectedMaThe">Mã thẻ độc giả:</label>
                                        <input type="text" class="form-control" id="selectedMaThe" readonly>
                                    </div>
                                    <div class="form-group col">
                                        <label for="selectedName">Tên độc giả:</label>
                                        <input type="text" class="form-control" id="selectedName" readonly>
                                    </div>
                                    <div class="form-group col">
                                        <label for="selectedSDT">Số điện thoại:</label>
                                        <input type="text" class="form-control" id="selectedSDT" readonly>
                                    </div>
                                   
                                </div>
                                
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="return_datemuon">Ngày mượn:</label>
                                        <input type="date" class="form-control" id="return_datemuon" readonly>
                                    </div>
                                    <div class="form-group col">
                                        <label for="return_datehan">Hạn trả:</label>
                                        <input type="date" class="form-control" id="return_datehan" readonly>
                                    </div>
                                    <div class="form-group col">
                                        <label for="return_datetra">Ngày trả:</label>
                                        <input type="date" class="form-control" id="return_datetra" readonly>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="tongTienPhuThu">Tổng tiền:</label>
                                        <input type="text" class="form-control" id="tongTienPhuThu" readonly>
                                    </div>
                                </div>
                                <div class="table-responsive" style="height: 200px; overflow-y: auto;">
                                    <table class="table table-head-fixed table-hover">
                                        <thead>
                                            <tr>
                                                <th>Mã Đ.Sách</th>
                                                <th>Tên sách</th>
                                                <th>SL Mượn</th>
                                                <th>Mã C.Sách</th>
                                                 <th>Trả</th>
                                                <th>Lỗi</th>
                                                <th>Mất</th>
                                                <th>Phụ Thu</th> 
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody"></tbody>
                                    </table>
                                </div>
@*                                 <button type="button" class="btn btn-primary mt-3" onclick="Save();">Lưu</button>
 *@                                <input id="hdfMaPM" type="hidden" value="0" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


<!-- Modal error-->
<div class="modal fade" id="ModalError" tabindex="-1" role="dialog" aria-labelledby="ModalError" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-danger">
                <span class="" id="contentModalError"></span>
            </div>
        </div>
    </div>
</div>

<!-- Modal success-->
<div class="modal fade" id="ModalSuccess" tabindex="-1" role="dialog" aria-labelledby="ModalSuccess" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-green">
                <span class="" id="contentModalSuccess"></span>
            </div>
        </div>
    </div>
</div>

@* @section scripts
{
    <script>
      
        function lamMoi() {
            document.getElementById("selectedMaThe").value = "";
            document.getElementById("selectedName").value = "";
            document.getElementById("selectedSDT").value = "";
            document.getElementById("return_datemuon").value = "";
            document.getElementById("return_datehan").value = "";
            document.getElementById("tongTienPhuThu").value = "";
            let tableBody = document.getElementById("tableBody");
            tableBody.innerHTML = "";
            //loadPhieuMuons('');
        }

        $(document).ready(function () {
            init();
        });

        function init() {
            var currentDate = new Date();

            // Format the current date into YYYY-MM-DD string
            var formatCurrentDate = currentDate.toISOString().slice(0, 10);

            // Set the default value for the "return_date" field to the current date
            document.getElementById("return_datetra").value = formatCurrentDate;
            document.getElementById("tongTienPhuThu").value = formatMoney(0);

            $('#tablephieuMuon').DataTable(
                {
                    processing: true,
                    serverSide: true,
                    paging: true,
                    searching: true,
                    searchDelay: 400,
                    scrollY: false,
                    iDisplayLength: 5,
                    bLengthChange: false,
                    language: {
                        info: "Hiển thị _START_ đến _END_ của _TOTAL_ mục",
                        lengthMenu: "Hiển thị _MENU_ mục",
                        search: "Tìm kiếm",
                        processing: "Đang tải dữ liệu...",
                        paginate: {
                            previous: "Trước",
                            next: "Tiếp theo",
                            last: "Cuối"
                        }
                    },

                    ajax: {
                        url: "/admin/phieutra/GetListPhieuMuonPaging_APP",
                        // url: "/phieutra/GetListPhieuMuonPaging_APP",

                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function () {
                            // Optional: Show loading indicator
                        },
                        data: function (data) {
                            var tablephieuMuonA = $("#tablephieuMuon").DataTable();
                            var settings = tablephieuMuonA.settings();
                            var currentPageIndex = Math.ceil(settings[0]._iDisplayStart / settings[0]._iDisplayLength) + 1;
                            var request = {
                                PageSize: 5,
                                Page: currentPageIndex,
                                Keyword: $('.dt-search input[type="search"]').val()
                            };
                            return JSON.stringify(request);
                        },
                        dataSrc: function (res) {
                            if (res.success && res.phieuMuonList != null) {
                                return res.phieuMuonList.results;
                            } else {
                                return [];
                            }
                        },
                        dataFilter: function (data) {
                            var page = $.parseJSON(data);
                            if (!page.success || page.phieuMuonList == null) {
                                page.recordsTotal = 0;
                                page.recordsFiltered = 0;
                                return JSON.stringify(page);
                            }
                            page.recordsTotal = page.phieuMuonList.rowCount || 0;
                            page.recordsFiltered = page.phieuMuonList.rowCount || 0;
                            return JSON.stringify(page);
                        },
                        error: function (status) {
                            // Handle error
                        }
                    },
                    columns: [
                        { data: "maPM", width: "7%" },
                        { data: "maThe", width: "10%" },
                        { data: "hoTenDG", width: "15%" },
                        { data: "sdt", width: "15%" },
                        { data: "ngayMuon", width: "15%" },
                        { data: "hanTra", width: "15%" }
                    ],
                    columnDefs: [{
                        "defaultContent": "-",
                        "targets": "_all"
                    }]
                });

            // Thay thế sự kiện '.btn-see-all' bằng sự kiện click trên mỗi hàng (row)
            $('body').on('click', '#tablephieuMuon tbody tr', function () {
                // Lấy DataTable
                var table = $('#tablephieuMuon').DataTable();

                // Lấy dữ liệu của hàng được click
                var rowData = table.row(this).data();

                // Sử dụng hàm formatDate để chuyển đổi và định dạng ngày
                //var formattedNgayMuon = formatDate(rowData.ngayMuon);
                // var formattedHanTra = formatDate(rowData.hanTra);

                // Hiển thị thông tin ngày mượn và hạn trả vào các ô nhập dạng ngày trong form
                document.getElementById("selectedMaThe").value = rowData.maThe;
                console.log(rowData.maThe);
                document.getElementById("selectedName").value = rowData.hoTenDG;
                console.log(rowData.hoTenDG);
                document.getElementById("selectedSDT").value = rowData.sdt;
                document.getElementById("return_datemuon").value = rowData.ngayMuon;
                document.getElementById("return_datehan").value = rowData.hanTra;

                // Lưu mã PM vào input hidden
                document.getElementById("hdfMaPM").value = rowData.maPM;

                // Gọi hàm loadSachMuons với tham số là mã PM
                loadSachMuons(rowData.maPM);
            });

        }

        function loadSachMuons(maPM) {
            $('#hdfMaPM').val(maPM);

            $.ajax({
                type: "POST",
                url: "/admin/phieutra/GetSachMuon_APP/" + maPM,
                dataType: 'json',
                success: function (res) {
                    console.log("sach muon", res);
                    var render = "";
                    $.each(res, function (i, item) { // `res` là mảng chứa danh sách sách mượn
                        render += '<tr class="sach-row" aria-expanded="false" data-widget="expandable-table">';
                        render += '<td>' + item.maSach + '</td>';
                        render += '<td>' + item.tenSach + '</td>';
                        render += '<td>' + item.soLuongMuon + '</td>';
                        render += '<td><input id="phuThuSoLuongTra' + item.maSach + '" onchange="PhuThu(' + item.maSach + ',' + item.giasach + '); updateTongTien();" class="tra" min="0" type="number" value="0" style="width: 70%" onkeydown="if (event.key === \'e\' || event.key === \'E\') event.preventDefault();" /></td>';
                        render += '<td><input id="phuThuSoLuongLoi' + item.maSach + '" onchange="PhuThu(' + item.maSach + ',' + item.giasach + '); updateTongTien();" class="loi" min="0" type="number" value="0" style="width: 70%" onkeydown="if (event.key === \'e\' || event.key === \'E\') event.preventDefault();" /></td>';
                        render += '<td><input id="phuThuSoLuongMat' + item.maSach + '" onchange="PhuThu(' + item.maSach + ',' + item.giasach + '); updateTongTien();" class="mat" min="0" type="number" value="0" style="width: 80%" onkeydown="if (event.key === \'e\' || event.key === \'E\') event.preventDefault();" /></td>';
                        render += '<td id="phuThu' + item.maSach + '" class="phuThu" style="width: 150%" onchange="updateTongTien()">' + '0' + '</td>';
                        render += '</tr>';
                    });

                    let tableBody = document.getElementById("tableBody");
                    tableBody.innerHTML = render;
                    document.getElementById("tongTienPhuThu").value = formatMoney(0);
                },
                error: function (status) {
                    // Hiển thị cảnh báo nếu lỗi
                    alert("Không tìm thấy data");
                    // alone.notify('Cannot load data of Sach Muon', 'danger');
                }
            });
        }

        function PhuThu(maSach, giasach) {
            var NgayTra = document.getElementById("return_datetra").value;
            var HanTra = document.getElementById("return_datehan").value;
            var Soluongloi = document.getElementById('phuThuSoLuongLoi' + maSach).value;
            var Soluongtra = document.getElementById('phuThuSoLuongTra' + maSach).value;
            var Soluongmat = document.getElementById('phuThuSoLuongMat' + maSach).value;

            let soNgayChenhLech = Math.max(0, (new Date(NgayTra) - new Date(HanTra)) / (1000 * 60 * 60 * 24));
            // Khai báo biến phuThu ở đây

            if (Soluongtra > 0 || Soluongloi > 0 || Soluongmat > 0) {
                if (soNgayChenhLech > 0) {// trễ

                    document.getElementById("phuThu" + maSach).innerHTML = (soNgayChenhLech * 3000 * Soluongtra) + (giasach * 0.5 * Soluongloi + soNgayChenhLech * 3000 * Soluongloi) + (Soluongmat * giasach + soNgayChenhLech * 3000 * Soluongmat * 2); //+ " VND";

                } else {//khong trễ
                    document.getElementById("phuThu" + maSach).innerHTML = giasach * 0.5 * Soluongloi + Soluongmat * giasach * 2; //+ " VND";

                }
            }
            else {
                document.getElementById("phuThu" + maSach).innerHTML = 0;
            }
        }
        function updateTongTien() {
            var tongTienPhuThu = 0;

            // Lấy danh sách các hàng trong bảng thông tin sách
            var sachRows = document.querySelectorAll(".sach-row");

            // Lặp qua từng hàng và tính tổng tiền Phụ Thu
            sachRows.forEach(function (row) {
                var maSach = row.querySelector('td:nth-child(1)').textContent;
                var phuThuValue = parseFloat(row.querySelector('.phuThu').textContent);

                // Kiểm tra nếu giá trị là một số hợp lệ thì thêm vào tổng tiền
                if (!isNaN(phuThuValue)) {
                    tongTienPhuThu += phuThuValue;
                }
            });

            // Hiển thị tổng tiền trong trường "Tổng tiền"
            document.getElementById("tongTienPhuThu").value = formatMoney(tongTienPhuThu);
        }

        // Hàm format tiền
        function formatMoney(number) {
            return number.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
        }


        var ListSachTra = [];

        function createSachTraPostData() {
            var sachValues = [];

            // Lấy các ô nhập liệu từ bảng
            var sachRows = document.querySelectorAll(".sach-row");

            sachRows.forEach(function (row) {
                // Lấy các ô nhập liệu từ hàng (sử dụng lớp hoặc ID thích hợp)
                var maSach = row.querySelector('td:nth-child(1)').textContent;
                var tenSach = row.querySelector('td:nth-child(2)').textContent;
                var soLuongMuon = row.querySelector('td:nth-child(3)').textContent;
                var soLuongTra = row.querySelector('input.tra').value;
                var soluongLoi = row.querySelector('input.loi').value;
                var soluongMat = row.querySelector('input.mat').value;
                var PhuThu = row.querySelector('td:nth-child(7)').textContent;

                // Thêm giá trị từ các ô nhập liệu vào mảng
                sachValues.push({
                    MaSach: maSach,
                    TenSach: tenSach,
                    SoLuongMuon: soLuongMuon,
                    SoLuongTra: soLuongTra,
                    SoLuongLoi: soluongLoi,
                    SoLuongMat: soluongMat,
                    PhuThu: PhuThu,
                });
            });


            var data = {
                MaNhanVien: document.getElementById("selectedMaNhanVien").value,
                MaPhieuMuon: $('#hdfMaPM').val(),
                MaThe: document.getElementById("selectedMaThe").value,
                NgayTra: document.getElementById("return_datetra").value,
                ListSachTra: sachValues,
            }
            return data;
        }


        function Save() {
            var dataPost = createSachTraPostData();

            // Kiểm tra xem tất cả các hàng có số lượng bằng 0 không
            var allRowsZero = dataPost.ListSachTra.every(function (item) {
                return parseFloat(item.SoLuongTra) === 0 && parseFloat(item.SoLuongLoi) === 0 === parseFloat(item.SoLuongMat) === 0;
            });

            if (allRowsZero) {
                document.getElementById("contentModalError").innerHTML = "Hãy nhập số lượng sách muốn trả!";
                $("#ModalError").modal("show");
                return;
            }

            for (var i = 0; i < dataPost.ListSachTra.length; i++) {
                var item = dataPost.ListSachTra[i];

                var soLuongTra = parseFloat(item.SoLuongTra);
                var soLuongLoi = parseFloat(item.SoLuongLoi);
                var soLuongMat = parseFloat(item.SoLuongMat);

                // Kiểm tra xem có biến số lượng nào bé hơn 0 không
                if (soLuongTra < 0 || soLuongLoi < 0 || soLuongMat < 0) {
                    document.getElementById("contentModalError").innerHTML = "Số lượng nhập không hợp lệ!";
                    $("#ModalError").modal("show");
                    return;
                }


                var soLuongMuon = parseFloat(item.SoLuongMuon);

                // Kiểm tra xem số lượng mượn có lớn hơn số lượng trả và số lượng lỗi không
                if (isNaN(soLuongMuon) || soLuongMuon < soLuongTra + soLuongLoi + soLuongMat) {
                    document.getElementById("contentModalError").innerHTML = "Hãy nhập đúng số lượng sách muốn trả!";
                    $("#ModalError").modal("show");
                    return;
                }
                else {

                }
            }

            var confirmed = confirm("Bạn có chắc muốn tạo phiếu trả không?");
            if (confirmed) {

                // Gửi dữ liệu đến controller bằng phương thức AJAX POST
                $.ajax({
                    type: "POST",
                    url: "/Admin/PhieuTra/TaoPhieuTra_APP",
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    
                    success: function (response) {
                        console.log("test index ", response.success);
                        if (response.success) {

                            document.getElementById("contentModalSuccess").innerHTML = "Thêm phiếu trả thành công!";
                            $('#tablephieuMuon').DataTable().ajax.reload();
                            $("#ModalSuccess").modal("show");
                            lamMoi();

                            console.log('Tạo phiếu trả: ', response);
                        } else {
                            document.getElementById("contentModalError").innerHTML = "Hãy thêm số lượng sách muốn trả!";
                            $("#ModalError").modal("show");
                            console.log('Tạo phiếu trả: ', response);
                        }
                    },
                    error: function () {
                        alert("Lỗi khi gửi yêu cầu đến máy chủ.");
                    }
                });
            }
        }


    </script>
} *@
